body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://alma-park.ru/upload/iblock/ca7/nkufqdwdvhujcx3qkwscq3lpdr9pxfah.JPG');
  background-size: cover; /* чтобы изображение заняло весь фон */
  background-position: center; /* чтобы изображение было центрировано */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}